<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'createform' %}" method="POST">
      {% csrf_token %}
      <div>
        <label for="name">이름</label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="birth">생년월일</label>
        <input type="text" name="birth" id="birth" />
      </div>
      <div>
        <label for="location">환자 위치</label>
        <input type="text" name="location" id="location" />
      </div>
      <div>
        <label for="disease_name">증상</label>
        <input type="text" name="disease_name" id="disease_name" />
      </div>
      <br />
      <input type="submit" value="제출" />
    </form>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>hello world</p>
  </body>
</html>
